/* 
=====================================================
	Global Colors
===================================================== */
:root {
    --bg-color: #F6F6F6;
    --primary-color: #FFA500;
    --secundary-color: #B38B00;
    --third-color: BLUE;
  }

body {
    background: var(--bg-color) top repeat-x;
    font-family: 'Roboto', sans-serif;
}

button {
    border-radius: 40px;
    
}
/* 
=====================================================
	NAVBAR
===================================================== */

.toggle {
    color: var(--primary-color);
}

/* 
=====================================================
	Home
===================================================== */

.home-intro {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 14px;
    width: 80%;
}

/* 
=====================================================
	ABOUT ME
===================================================== */

/* 
=====================================================
	PROCESS
===================================================== */

/* 
=====================================================
	PORTFOLIO
===================================================== */


/* 
=====================================================
	CONTACT
===================================================== */


/* 
=====================================================
	Footer
===================================================== */

.footer {
    text-align: center;
}